body {
  background-color: black;
}

.page-color {
  background-color: black;
}

.header-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  color: white;
  text-align: center;
}

  
#wel-board-container {
  width: auto;
  height: auto;
  display: grid;
  justify-content: center;
  grid-gap: 7px;
  margin-top: 5%;
  grid-template-areas: 
  "square square square square square square square "
  "square square square square square square square "
  "square square square square square square square "
  "square square square square square square square "
  "square square square square square square square "
  "square square square square square square square ";
  grid-template-columns:  70px 70px 70px 70px 70px 70px 70px;
  grid-template-rows: 70px  70px  70px  70px  70px  70px;}

#wel-board-container > square {
  grid-area: square;
}