body {
  background-color: black;
}

.page-color {
  background-color: black;
}

.header-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  color: white;
  text-align: center;
}

  
#wel-board-container {
  width: auto;
  height: auto;
  display: grid;
  justify-content: center;
  grid-gap: 7px;
  margin-top: 5%;
  grid-template-areas: 
  "square square square square square square square "
  "square square square square square square square "
  "square square square square square square square "
  "square square square square square square square "
  "square square square square square square square "
  "square square square square square square square ";
  grid-template-columns:  60px 60px 60px 60px 60px 60px 60px;
  grid-template-rows: 60px  60px  60px  60px  60px  60px;}

#wel-board-container > square {
  grid-area: square;
}


@media (max-width: 450px){
   
  .header-text {
    font-size: 75px;
  }
     
  #wel-board-container {
    grid-gap: 7px;
    grid-template-areas: "square square square square square square square"
                       "square square square square square square square"
                       "square square square square square square square"
                       "square square square square square square square"
                       "square square square square square square square"
                       "square square square square square square square";
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
  }
}