body {
  background-color: black;
}

.page-color {
  background-color: black;
}

.header-text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  color: white;
  text-align: center;
}

/* .navbar-container {
  display: grid;
    position: sticky;
    top: 0%;
    z-index: 100;
    grid-template-areas:
        'Instructions Easy Medium Hard';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 70px;
    text-align: center;
    height: 100px;
    grid-gap: 10px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 20px;
} */
