.text-format {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.game-rules-format {
    text-decoration: underline;
}