.board-container {
    width: 500px;
    height: 700px;
    margin: 1px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-row: 100px 100px 100px 100px 100px 100px;
}