.square {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.white {
    background-color: grey;
}

.green {
    background-color: darkgreen;
}

.yellow {
    background-color: gold;
}

