.square {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.white {
    background-color: white;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

